<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mission to Mars</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body style="background-color: black">
    <div class="container">
        <div class="jumbotron text-center" 
         style="background-image: url('https://media2.govtech.com/images/940*548/surface+of+mars.jpg'); 
         background-size: cover; background-position: center; color: white">
            <h1>Mission to Mars</h1>
            <p><a class="btn btn-primary btn-lg" href="/scrape"
                role="button" style="background-color: black; border: none; color: white;">Scrape New Data
            </a></p>
        </div>
        <!-- Mars News -->
        <div class="row" id="mars-news">
            <div class="col-md-12">
                <div class="media">
                    <div class="media-body">
                        <h2 style="color: white">Latest Mars News</h2>
                        <h4 class="media-heading" style="color: white">{{mars.news_title}}</h4>
                        <p style="color: white">{{mars.news_paragraph}}</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Featured Image -->
        <!-- First level-->
        <div class="row" id="mars-featured-image">
            <!-- Second level -->
            <div class="col-xs-12 col-sm-6 col-md-8">
                <h2 style="color: white">Featured Mars Image</h2>
                <img src="{{mars.featured_image}}" class="img-responsive" alt="Responsive image">
            </div>
            <!-- Optional: clear the XS cols if their content doesn't match in height -->
            <div class="clearfix visible-xs-block"></div>
            <!-- Mars Facts -->
            <div class="col-md-4">
                <div class="row" id="mars-facts">
                    <h3 style="color: white">Mars Facts</h3>
                        <div class="table-responsive">
                            <!--<table class="dataframe table bordeless" style="background-color: black; color: navajowhite;">{{mars.facts | safe}}</table>-->
                            <table border="1" class="dataframe table">
                                <thead>
                                  <tr style="text-align: right;">
                                    <th></th>
                                    <th style="color: white;">Mars</th>
                                  </tr>
                                  <tr>
                                    <th style="color: white;">Description</th>
                                    <th></th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <th style="color: white;">Equatorial Diameter:</th>
                                    <td style="color: navajowhite;">6,792 km</td>
                                  </tr>
                                  <tr>
                                    <th style="color: white;">Polar Diameter:</th>
                                    <td style="color: navajowhite;">6,752 km</td>
                                  </tr>
                                  <tr>
                                    <th style="color: white;">Mass:</th>
                                    <td style="color: navajowhite;">6.39 × 10^23 kg (0.11 Earths)</td>
                                  </tr>
                                  <tr>
                                    <th style="color: white;">Moons:</th>
                                    <td style="color: navajowhite;">2 (Phobos &amp; Deimos)</td>
                                  </tr>
                                  <tr>
                                    <th style="color: white;">Orbit Distance:</th>
                                    <td style="color: navajowhite;">227,943,824 km (1.38 AU)</td>
                                  </tr>
                                  <tr>
                                    <th style="color: white;">Orbit Period:</th>
                                    <td style="color: navajowhite;">687 days (1.9 years)</td>
                                  </tr>
                                  <tr>
                                    <th style="color: white;">Surface Temperature:</th>
                                    <td style="color: navajowhite;">-87 to -5 °C</td>
                                  </tr>
                                  <tr>
                                    <th style="color: white;">First Record:</th>
                                    <td style="color: navajowhite;">2nd millennium BC</td>
                                  </tr>
                                  <tr>
                                    <th style="color: white;">Recorded By:</th>
                                    <td style="color: navajowhite;">Egyptian astronomers</td>
                                  </tr>
                                </tbody>
                              </table>
                        </div>
                </div>
            </div>
        </div>
        <!-- Hemisphere Info -->
        <div class=row id="mars-hemispheres">
            <!-- Subtitle -->
            <div class="col-md-12">
                <div class="row" id="hemisphere_title">
                    <h2 style="text-align:center; color: white;">Mars Hemispheres</h2>
                    <hr style="width:100%">
                </div>
            </div>
            <!-- Hemisphere images -->
            {% for hemisphere in mars.hemisphere_image_info %}
                <div class="col-xs-6 col-md-3">
                    <figure class="img-responsive">
                        <div class = "thumbnail" style="background-color: black;">
                            <a href = "{{hemisphere.img_url}}" target = "_blank">
                                <div>
                                    <img src = "{{hemisphere.img_url}}" class="img-responsive" alt = "Responsive image" style = "width:100%">
                                    <br>
                                    <figcaption style="text-align: left;">{{hemisphere.title}}</figcaption>
                                    <br>
                                </div>
                            </a>
                         </div>
                    </figure>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>